.app {
    cursor: crosshair;
}

.bubble {
    height: auto;
    width: 20%;
}

.contactStack {
    height: 70vh
}

.componentpage {
    padding-top: 10vh;
}

.divider {
    border-color: #97aeff !important;
}

.email {
    color: #093eff!important;
    font-size: 8vw;
    font-weight: 900;
}

.hearo {
    height: 90vh;
}

.home {
    height: 90vh;
}

.link {
    width: "100%";
    background-color: transparent !important;
}

.link:hover {
    background-color: transparent !important;
    background: transparent !important;
}

.navigation {
    position: fixed;
    top: auto;
    bottom: 5%;
}

.navbar {
    position: fixed;
    top: auto;
    bottom: 5%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(20, 20, 20, .5);
    border: 1px #000;
    border-radius: 100px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.navcontainer {
    display: block;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    position: fixed;
    top: auto;
    bottom: 5%;
}

.preview {
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.previewimg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    pointer-events: none;
}

.project {
    border-bottom: 1px solid, rgba(0, 0, 255, 0.25);
    background-color: transparent !important;
    /* Ensures no background change */
}

.project:hover {
    background-color: transparent !important;
    /* Prevents background change on hover */
}

.projectpage {
    margin-bottom: 15px;
    margin-top: 80px;
}

.textblue {
    color: #093eff!important;
    font-weight: 900;
    background-color: transparent !important;
}

.textblue:hover {
    background-color: transparent !important;
}

.textstart {
    color: #093eff!important;
    font-size: 3vw;
    font-weight: 900;
}